*{
	margin:0px;
	padding:0px;
}
body{
	display:flex;
	flex-direction:column;
}
#big-wrapper{
	display:-webkit-box;
	display:-webkit-flex;
	background:url(fullbackimg.png) no-repeat center;
	background-size:cover;
    flex-direction:	column;
}
#top-header{
	display:-webkit-box;
	display:-webkit-flex;
	justify-content: space-between;
	background-color:#002233;
	border-bottom:2px solid #004c4d;
}
.lol-img{
	display:-webkit-flex;
	flex-direction:column;
	font-size:small;
    justify-content:space-around;
	
}
small{
	color:white;
    font-size:80%
}
.arranging-team{
	display:-webkit-flex;
	border:1px solid #004c4d;
	border-radius:2px;
	margin-left:50px;
	width:177px;
	height:57px;
    justify-content:space-between;
	margin-top:10px;
	margin-bottom:10px;
	-webkit-box-shadow: inset 0px 0px 202px -39px rgba(0,128,128,1);
    box-shadow: inset 0px 0px 150px -39px rgba(0,128,128,1);
	border:2px solid #004c4d;
}
.bb{
	padding-left:45px;
	font-size:75%;
	color:white;
}
.buttons{
	display:flex;
	align-self:flex-end;
	padding-right:2px;
	padding-bottom:3px;
}
.table{
	display:-webkit-flex;
	flex-direction:column;
	width:330px;
	margin-right:100px;
	margin-top:10px;
}
.row1{
	display:-webkit-flex;
	border:2px solid black;
	height:20px;
	border-radius:4px;
}
.cell1{
	padding:2px 30px 2px 30px;
	border-right:1px solid white;
	color:white;
	-webkit-box-shadow: inset 191px 0px 235px -106px rgba(14,199,153,1);
    box-shadow: inset 191px 0px 235px -106px rgba(14,199,153,1);
}
.cell2{
	display:flex;
	padding:2px;
	color:white;
	-webkit-box-shadow: inset -122px 0px 214px -106px rgba(14,199,153,1);
    box-shadow: inset -122px 0px 214px -106px rgba(14,199,153,1);
}
.rp{
	margin-right:51px;
	padding-left:2px;
}
.ip{
	padding-right:22px
}
.raw2{
	display:-webkit-flex;
	flex-wrap:wrap;
	border:1px solid #b38f00;
	width:327px;
	height:25px;
	border-radius:3px;
}
.cell3{display:flex;
	width:49%;
    justify-content: center;
    padding:1px;
    -webkit-box-shadow: inset 0px 1px 76px 102px rgba(240,152,19,1);
    box-shadow: inset 0px 1px 76px 102px rgba(240,152,19,1);
}
.cell4{
	display:flex;
	justify-content:center;
	width:49%;
	background-color:#00394d;
	padding:1px;
	border-left:2px solid gold;
}
.section-wraper{
	display:-webkit-flex;
	justify-content:center;
}
#main_section{
	
	
}
.article_top{
	display:-webkit-flex;
	flex-direction:column;
	border:1px solid #0066ff;
	border-radius:3px;
	height:400px;
	width:600px;
	margin-top:5px;
	background-color: rgba(0, 0, 0, 0.6);
}
h3{
	background-color:#002966;
	color:white;
	padding:3px;
	font-family: arial;
	
	
}
.player{
	display:flex;
	justify-content:space-between;
	background:url(Mistbackground1.jpg) no-repeat center;
	background-size:cover;
	color:white;
	height:70px;
    margin:5px;
	border-bottom:1px solid gray;
	border-left:1px solid gray;
	border-right:1px solid gray;
	
	
}
.playerstyle{
	display:flex;
	font-size:80%;
	padding-top:5px;
	
}
.playerstyle>p{
	padding-left:7px;
	
}
.playerwins{
	padding-top:27px;
	font-size:60%;
}
.article_bottom{
	display:-webkit-flex;
	flex-direction:column;
	border:1px solid #0066ff;
	border-radius:3px;
	height:200px;
	max-width:600px;
	margin-top:2px;
	background-color:rgba(0,0,0,0.6)
}
.article_bottom>p{
	font-size:90%;
	color:yellow;
}
h5{
	background-color:#002966;
	color:white;
	height:15px;
	padding:5px;
}
footer{
	margin-top:130px;
	
}
#submitmsg{

background:    #0b5394;
background:    -webkit-linear-gradient(#0b5394, #0b5394 50%, #073763 50%, #073763);
background:    linear-gradient(#0b5394, #0b5394 50%, #073763 50%, #073763);
border:        1px solid #569;
border-radius: 3px;
box-shadow:    0 1px 0 0 #444;
color:         #fff;
display:       inline-block;
padding:       5px 30px;
font:          normal 400 12px/1 "Zenhei", sans-serif;
text-align:    center;
text-shadow:   0px 0px 0 #000;
}
#usermsg{
	border:1px solid #0073e6;
	height: 20px;
	border-radius:4px;
	width:500px;
}
.mapoptions{
	display:-webkit-flex-;
    border:1px solid #0066ff;
	border-radius:3px;
	margin-top:5px;
	margin-left:3px;
	background-color: rgba(0, 0, 0, 0.6);
	height:250px
}
.gray{
	color:gray;
}
.bot>p{
	color:white;
	font-size:small;
}
.middle>img{
	border:1px solid #0066ff;
	margin:2px;
}
.Invite-section{
	border:1px solid #0066ff;
	display:-webkit-box;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	margin-left:3px;
	margin-top:3px;
	border-radius:3px;
	height:349px;
	background-color: rgba(0, 0, 0, 0.6);
}
.top-button{
	background-color:#002966;
	color:white;
	opacity:1;
}
h4{
    background:    #0b5394;
    background:    -webkit-linear-gradient(#0b5394, #0b5394 50%, #073763 50%, #073763);
    background:    linear-gradient(#0b5394, #0b5394 50%, #073763 50%, #073763);
    border:        1px solid #06f;
    border-radius: 4px;
    box-shadow:    0px 0px 0 0 #444;
    color:         #fff;
    display:       inline-block;
    width:         120px;
    height:        20px;
    font:          normal 400 12px/20px "Zenhei", sans-serif;
    text-align:    center;
    text-shadow:   0px 0px 0 #000;
    margin:3px;
}
.bottom-buttons{
	display:flex;
	justify-content:space-around;
	margin-bottom:3px;
}
.quit-button{
    background:    #0b5394;
    background:    -webkit-linear-gradient(#0b5394, #0b5394 50%, #073763 50%, #073763);
    background:    linear-gradient(#0b5394, #0b5394 50%, #073763 50%, #073763);
    border:        1px solid #06f;
    border-radius: 4px;
    box-shadow:    0px 0px 0 0 #444;
    color:         #fff;
    display:       inline-block;
    width:         122px;
    height:        22px;
    font:          normal 400 12px/22px "Zenhei", sans-serif;
    text-align:    center;
    text-shadow:   0px 0px 0 #000;
}
.start-button{
	background:    #e69138;
    background:    -webkit-linear-gradient(#e69138, #e69138 50%, #b45f06 50%, #b45f06);
    background:    linear-gradient(#e69138, #e69138 50%, #b45f06 50%, #b45f06);
    border:        1px solid #06f;
    border-radius: 4px;
    box-shadow:    0px 0px 0 0 #444;
    color:         #fff;
    display:       inline-block;
    width:         122px;
    height:        22px;
    font:          normal 400 12px/22px "Zenhei", sans-serif;
    text-align:    center;
    text-shadow:   0px 0px 0 #000;
	margin-bottom:3px;
}
#the_footer{
	margin:5px 0px 0px 0px;
	padding:0px 0px 5px 0px;
	display:flex;
	justify-content:flex-end;
	border-top:1px solid #002233;
-moz-box-shadow:inset -75px 6px 75px #002233;
-webkit-box-shadow:inset -75px 6px 75px #002233;
box-shadow:inset -75px 6px 75px #002233;
}
.online_friends{
	-webkit-box-shadow: inset 0px 0px 202px -39px rgba(0,128,128,1);
    box-shadow: inset 0px 0px 150px -39px rgba(0,128,128,1);
	border:2px solid #004c4d;
	margin-right:9px;
	height:25px;
	width:67px;
	border-radius:3px;
}
.online_friends>img{
	margin:3px 0px 5px 23px;
}
.group_chat{
	-webkit-box-shadow: inset 0px 0px 202px -39px rgba(0,128,128,1);
    box-shadow: inset 0px 0px 150px -39px rgba(0,128,128,1);
	border:2px solid #004c4d;
	margin-right:9px;
	height:25px;
	width:67px;
	border-radius:3px;
}
.group_chat>img{
	margin:3px 0px 5px 23px;
}
.Notifications{
	-webkit-box-shadow: inset 0px 0px 202px -39px rgba(0,128,128,1);
    box-shadow: inset 0px 0px 150px -39px rgba(0,128,128,1);
	border:2px solid #004c4d;
	margin-right:9px;
	height:25px;
	width:67px;
	border-radius:3px;
}
.Notifications>img{
	margin:3px 0px 5px 23px;
}
.invited-friends{
	display:flex;
}
.owners-name{
	margin-left:5px;
	font-size:90%;
	color:white;
}
.status{
	font-size:90%;
	color:green;
	margin:0px 0px 260px 115px;
}