 html{
	 background: url(fullbackimg.png) no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
 }
 * {
	margin:0px;
    padding:0px;
}
body{
	width:100%;
	display:-webkit-box;
	-webkit-box-pack:center;
}
#big-wrapper{
	max-width:1000px;
	margin:20px 0px;
	display:-webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1
}
#top-header{
	background-color:#002233;
    height:75px;
	border-bottom:3px solid #004c4d;
}
small{
	color:white;
	font-size:65%;
}
.arranging-team{
	font-size:65%;
	font-family:arial;
	-webkit-box-shadow: inset 0px 0px 202px -39px rgba(0,128,128,1);
        box-shadow: inset 0px 0px 150px -39px rgba(0,128,128,1);
	border:2px solid #004c4d;
	height:57px;
	width:177px;
	-webkit-border-radius:3px;
	position:relative;
	top:-65px;
	right:-370px
	
	
}
.arranging-team > p{
	color:white;
	text-align:center;

}
.buttons{
	position:relative;
	top:21px;
	right:-125px;

}
.table{
    position:relative;
	max-width:350px;
	max-height:100px;
	color:white;
	top:-123px;
	right:-660px;
}
.row1{
	padding:2px;
	width:320px;
    height:17px
}
.cell1{
	float:left;
    border:1px solid #227077;
	border-right:1px solid white;
	border-top-left-radius:3px;
    border-bottom-left-radius:3px;
	padding-right:25px;
	padding-left:30px;
	background-color:#227077;
	font-family:Trebuchet MS;
	font-size:95%;
}
.cell2{
	float:right;
	Background-color:#11383b;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
}
.ip{
	float:right;
	margin-right:30px;
	margin-top:2px
}
.rp{
	float:left;
	padding-right:40px;
	margin-top:2px
}
.raw2{
	margin:3px;
	max-width:320px;
}
.cell3{
	float:left;
	background-color:#cc5200;
	width:170px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
.cell4{
	float:right;
	width:150px;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	background-color:#11383b;
	
}
.article_top{
	-webkit-box-flex: 1;
	border-radius:2px;
	width:500px;
	height:400px;
	margin-left:100px;
	margin-top:5px;
	background-color:;
	border:1px solid #0073e6;
	
}
article > header> h2{
	font-size:111%;
	font-weight:100;
	color:white;
	background-color:#003366;
	opacity:0.8;
	padding:3px;
}
.player{
	background-color:black;
	opacity:0.8;
	color:white;
	margin:2px;
	height:63px;
	
}
.image{
	margin:6px;
}
.playerstyle>p{
	float:left;
	font-size:85%;
}
.playerwins{
	float:right;
	margin-top:25px;
	font-size:70%;
	margin-right:6px;
	
}
header>h4{
	font-size:111%;
	font-weight:100;
	color:white;
	background-color:#003366;
	opacity:0.8;
	padding:3px;
}
footer{


}
#usermsg{
	border:2px solid #0073e6;
	height: 17px;
	border-radius:5px;
	Margin-top:182px;
	margin-left:2px;
	
}
#submitmsg{
	background-color:#003366;
	width:65px;
	height:21px;
	border:2px solid #0073e6;
	border-radius:7px;
}
.article_bottom{
	border-radius:3px;
	max-width:500px;
	height:250px;
	margin-left:100px;
	margin-top:5px;
	border:1px solid #0073e6;
	background-color:black;
	color:yellow;
	
}
#aside_section{
	width:350px;
	border:1px solid red;
	height:320px;
	position:absolute;
	top:117px;
	right:215px
	
}
